*{
    padding: 0;
    margin: 0;
}
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: #111111;*/
    background: url('./img/maiAnh2.png') black;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 640px;
    height: 640px;
    background: #000;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#000006);
  }